{include file="admin/topo.html"}

{literal}
<script>

	function checa()
	{
		frm = document.frm_cadastro;
		
		if(trim(frm.titulo.value) == "")
		{
			alert("Preencha o campo Título!");
			frm.titulo.focus();
			return false;
		}
				
		return true;
	}

</script>
{/literal}

<!-- Conteúdo -->
    <form class="form-admin" name="frm_cadastro" method="POST" enctype="multipart/form-data" onSubmit="return checa()">
        <input type="hidden" name="acao" value="gravar" />
        <input type="hidden" name="id" value="{$dados[0].id}" />

        <p class="texto">CADASTRO DE CATEGORIA</p>

        <label>*Título:</label>
        <input type="text" name="categoria" size="50" value="{$dados[0].categoria}" class="formu" />


        <input name="submit" type="submit" class="botao" value="{$botao}" />
        <label class="no-top">* Campos obrigatórios.</label>
    </form>
<!-- FIM Conteúdo -->

{include file="admin/rodape.html"}