{include file="admin/topo.html"}

<!-- Conteúdo -->
<table cellspacing="0" cellpadding="0" border="0" width="93%" align="center" bgcolor="#FFFFFF">
    <tr>
        <td class="texto" height="30"><strong>USUÁRIOS</strong></td>
    </tr>
    <tr>
        <td>
            <table cellspacing="2" cellpadding="5" border="0" width="100%">
                <tr style="background-color:#D5DDE3" height="20">
                    <td class="texto"><strong>Nome</strong></td>
                    <td class="texto"><strong>Perfil</strong></td>
                    <td class="texto" width="10%"><strong>Opções</strong></td>
                </tr>
                {section name=i loop=$dados}
                <tr>
                    <td class="texto">{$dados[i].usu_nome}</td>
                    <td class="texto">{$dados[i].usu_perfilFormat}</td>
                    <td class="texto" nowrap="nowrap">{if $dados[i].usu_id != 1}< <a href="?acao=editar&id={$dados[i].usu_id}">editar</a> > | < <a href="#" onclick="exclui({$dados[i].usu_id})">excluir</a> >{/if}</td>
                </tr>
                {/section}
            </table>
        </td>
    </tr>
</table>
<!-- FIM Conteúdo -->

{include file="admin/rodape.html"}