<h1 class="titulo-produto">Acoplamentos de engrenagem</h1>
<h2 class="titulo-interna-destaque titulo-cor-cinza">LINHA GM</h2>
<div class="col-xs-12 col-sm-12 col-md-12 pd-none">
    <div class="col-xs-12 col-sm-3 col-md-3 pd-none encapsula-pdf-pag pull-right" >
        <img class="pull-left" src="{$URL}commom/img/manual.png" title="manual" alt="manual">
        <p class="titulo-interna-destaque titulo-cor-cinza mg-left-desc-prod">Manual (pdf)</p>
        <div class="mtlsr-images-for-lightbox">
            <ul class="pos-abs-manual">
                <li>
                    <a href="{$URL}upload/manual/Acomplamentos_Linha_GM.pdf" target="_blank" >
                        <h3 class="txt-interna mg-left-desc-prod">
                           Especificações
                        </h3>
                    </a>
                </li>
            </ul>
        </div> 
        <div class="mtlsr-lightbox">
            <a href="#" class="close">&#9421;</a>
        </div>
    </div> 
    <div class="col-xs-12 col-sm-3 col-md-3 pd-none pull-right">
        <img class="pull-left" src="{$URL}commom/img/categoria.png" title="categoria" alt="categoria">
        <p class="titulo-interna-destaque titulo-cor-cinza mg-left-desc-prod">Categoria</p>
        <p class="txt-interna mg-left-desc-prod">Acoplamentos</p>
    </div>   
</div>

<div class="encapsula-conteudo-produto-pag">
<!-- <div class="col-xs-12 col-sm-12 col-md-12 pd-none encapsula-txt-prod-pag"> -->
	<img class="img-produto pull-left" src="{$URL}upload/produto/acoplamentos_2.jpg" alt="acoplamentos METALFLEX tipo GM " title="acoplamentos METALFLEX tipo GM ">

	<p class="txt-interna">A melhor relação custo x benefício para médias e altas solicitações. Os <strong>acoplamentos METALFLEX tipo GM</strong> têm como principais características: grande capacidade de transmissão de torque e rigidez torcional, possuindo elevada relação torque transmitido / peso.</p>

	<p class="txt-interna">Os acoplamentos de engrenagem seguem padrão internacional <strong>AGMA 516.01</strong>, sendo intercambiáveis em nível de flange com os demais acoplamentos nacionais e importados existentes no mercado.</p>

	<p class="txt-interna"><strong>Acoplamentos</strong> fabricados totalmente em aço beneficiado e conectados por parafusos de alta resistência, transmitem torque através de seus dentes internos / externos. Os dentes externos dos cubos são triplamente abaulados e se articulam com os dentes internos das capas, conferindo ao conjunto a capacidade de compensar desalinhamentos existentes entre os eixos dos equipamentos acoplados.
	<strong>Acoplamentos</strong> transmitem torques superiores a 1.000.000 Nm e permitem furações superiores a 500mm. Disponíveis em 20 tamanhos e mais de 15 modelos.</p>
	
	
	<img src="{$URL}upload/produto/2_acopla_gm_pag.jpg" alt="Dentes Triplamente Abaulados" title="Dentes Triplamente Abaulados">

	<p class="txt-interna"><strong>Dentes Triplamente Abaulados</strong><br>
	O abaulamento do topo, raiz e flanco dos dentes permite um engrenamento preciso e suave, acomodando desalinhamnetos angulares, axiais e paralelos nos eixos conectados.</p>
	
	<br>
	<!-- <div class="col-xs-12 col-sm-12 col-md-12 pd-none">
	    <div class="col-xs-12 col-sm-6 col-md-6 pd-none">
	        <img class="pull-left" src="{$URL}commom/img/categoria.png" title="categoria" alt="categoria">
	        <p class="titulo-interna-destaque titulo-cor-cinza mg-left-desc-prod">Categoria</p>
	        <p class="txt-interna mg-left-desc-prod">{$dados[0].tituloCat}</p>
	    </div>   
	    <div class="col-xs-12 col-sm-6 col-md-6 pd-none encapsula-pdf-pag" >
	            <img class="pull-left" src="{$URL}commom/img/manual.png" title="manual" alt="manual">
	            <p class="titulo-interna-destaque titulo-cor-cinza mg-left-desc-prod">Manual (pdf)</p>
	        <a href="{$URL}upload/manual/Acomplamentos_Linha_GM.pdf" target="_blank" class="txt-interna">
	        	teste
	        </a>
	    </div> 
	</div> -->

</div>