<ul class="ul-menu-lateral">
    <li class="linha-menu-lateral"><a class="link-menu-lateral" href="{$URL}bgl">BGL</a></li>
    <li class="linha-menu-lateral"><a class="link-menu-lateral" href="{$URL}hiwin">HIWIN</a></li>
    <li class="linha-menu-lateral"><a class="link-menu-lateral" href="{$URL}ina-flag">INA FAG</a></li>
    <li class="linha-menu-lateral"><a class="link-menu-lateral" href="{$URL}ktr">KTR</a></li>
    <li class="linha-menu-lateral"><a class="link-menu-lateral" href="{$URL}nachi">NACHI</a></li>
    <li class="linha-menu-lateral"><a class="link-menu-lateral" href="{$URL}metalflex-acoplamentos">METALFLEX Acoplamentos</a></li>
    <li class="linha-menu-lateral"><a class="link-menu-lateral" href="{$URL}rolmax">ROLMAX</a></li>
    <li class="linha-menu-lateral"><a class="link-menu-lateral" href="{$URL}sabo">SABÓ</a></li>
    <li class="linha-menu-lateral"><a class="link-menu-lateral" href="{$URL}sav">SAV</a></li>
    <li class="linha-menu-lateral"><a class="link-menu-lateral" href="{$URL}skf">SKF</a></li>
    <li class="linha-menu-lateral"><a class="link-menu-lateral" href="{$URL}timken">TIMKEN</a></li>
    <!-- <li class="linha-menu-lateral"><a class="link-menu-lateral" href="{$URL}"></a></li> -->
</ul>