<!DOCTYPE HTML>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow">
    <meta name="description" content="" />
    <link href="{$URL}commom/img/icon-tab.png" rel="icon">
    <link rel="stylesheet" type="text/css" href="{$URL}commom/css/estilo.css">
    <title>Tink Roll</title>
    <!-- Bootstrap -->
    <link href="{$URL}commom/css/bootstrap.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container-fluid">
        {include file="../inc/header.html"}
        <div class="banner-interna hidden-xs">
            <img src="{$URL}commom/img/banner-institucional.jpg" alt="banner institucional" title="banner institucional">
            <h2 class="titulo-banner-interna">Noticias</h2>
        </div>        
        <section class="conteudo">
            {include file="../inc/breadcrumb.html"}
            <article class="bloco-conteudo">
                <div class="col-xs-12 col-sm-3 col-md-3">
                    {include file="../inc/menu-lateral.html"}
                </div>
                <div class="col-xs-12 col-sm-9 col-md-9">
                    <h1 class="titulo-interna-destaque titulo-cor-cinza">&nbsp;&nbsp;Noticias</h1><br>

                    {section name=i loop=$dados}                 
                        <a href="{$URL}noticia/{$dados[i].pagina}">
                            <div class="encapsula-noticia-ind">
                                <img class="img-marcas mg-top-none" src="{$URL}{$dados[i].caminhoImagem2}" alt="{$dados[i].titulo}" title="{$dados[i].titulo}">
                                <h2 class="titulo-sobre mg-top-none">{$dados[i].titulo}</h2>
                                <p class="txt-interna">{$dados[i].texto}</p>
                            </div>
                        </a>
                    {/section}
                </div>
            </article>    
        </section>
    </div>
    {include file="../inc/footer.html"}
</body>
</html>