<div class="col-xs-12 col-sm-12 col-md-12 pd-none encapsula-txt-prod-pag">

	<h1 class="titulo-produto">Rolamentos de Precisão</h1>

	<img class="img-produto pull-left" src="{$URL}upload/produto/Rolamentos_de_Precisao_1.jpg" alt="Rolamentos de Precisão" title="Rolamentos de Precisão">

	<p class="txt-interna">A Tink Roll é distribuidor dos rolamentos de precisão das principais marcas do mercado e possui grande estoque de produtos. Possuímos rolamentos para centros de usinagem, retífica, fresa e tornos CNC. </p>

	<p class="txt-interna">Disponibilizamos abaixo o catálogo para download das principais marcas oferecidas:</p>

	<div class="col-xs-12 col-sm-4 col-md-4">
		<br>
		<a href="{$URL}upload/manual/Rolamentos_de_Precisao_1.pdf" target="_blank">
			<img class="img-borda-interna" src="{$URL}upload/produto/Rolamentos_de_timken.jpg" alt="timken" title="timken">
		</a>
	</div>

	<div class="col-xs-12 col-sm-4 col-md-4">
		<br>
		<a href="{$URL}upload/manual/Rolamentos_de_Precisao_2.pdf" target="_blank">
			<img class="img-borda-interna" src="{$URL}upload/produto/Rolamentos_de_gmn.jpg" alt="GMN" title="GMN">
		</a>
	</div>

	<div class="col-xs-12 col-sm-4 col-md-4">
		<br>
		<a href="{$URL}upload/manual/Rolamentos_de_Precisao_3.pdf" target="_blank">
			<img class="img-borda-interna" src="{$URL}upload/produto/Rolamentos_Industriais_nachi.jpg" alt="nachi" title="nachi">
		</a>
	</div>

	<div class="col-xs-12 col-sm-4 col-md-4">
		<br>
		<a href="{$URL}upload/manual/Rolamentos_de_Precisao_4.pdf" target="_blank">
			<img class="img-borda-interna" src="{$URL}upload/produto/Rolamentos_de_nadella.jpg" alt="nadella" title="nadella">
		</a>
	</div>

	<div class="col-xs-12 col-sm-4 col-md-4">
		<br>
		<a href="{$URL}upload/manual/Rolamentos_de_Precisao_5.pdf" target="_blank">
			<img class="img-borda-interna" src="{$URL}upload/produto/Rolamentos_de_nsk.jpg" alt="NSK" title="NSK">
		</a>
	</div>

	<div class="col-xs-12 col-sm-4 col-md-4">
		<br>
		<a href="{$URL}upload/manual/Rolamentos_de_Precisao_6.pdf" target="_blank">
			<img class="img-borda-interna" src="{$URL}upload/produto/Rolamentos_Industriais_skf.jpg" alt="skf" title="skf">
		</a>
	</div>

	<div class="col-xs-12 col-sm-4 col-md-4">
		<br>
		<a href="{$URL}upload/manual/Rolamentos_de_Precisao_7.pdf" target="_blank">
			<img class="img-borda-interna" src="{$URL}upload/produto/Rolamentos_de_snfa.jpg" alt="snfa" title="snfa">
		</a>
	</div>

	<div class="col-xs-12 col-sm-12 col-md-12 pd-none">
	    <div class="col-xs-12 col-sm-6 col-md-6 pd-none">
	    	<br>
	        <img class="pull-left" src="{$URL}commom/img/categoria.png" title="categoria" alt="categoria">
	        <p class="titulo-interna-destaque titulo-cor-cinza mg-left-desc-prod">Categoria</p>
	        <p class="txt-interna mg-left-desc-prod">{$dados[0].tituloCat}</p>
	    </div>   
	</div>

</div>